.Container {
  width: 100%;
  position: relative;
}

.Swiper {
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
  overflow: scroll;
  width: 100%;
  scroll-snap-type: mandatory;
  scroll-snap-points-x: repeat(100%);
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.Swiper::-webkit-scrollbar {
  display: none;
}

.Item:first-of-type {
  margin-left: 30px;
}
.Item:last-of-type {
  margin-right: 30px;
}

.Controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  height: 0px;
  width: 100%;
  padding: 0 12px;
  font-size: 30px;

  button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.Icon {
  width: 30px;
  height: 30px;
  padding: 4px;
  background-color: rgb(255 255 255 / 50%);
  backdrop-filter: blur(10px);
  border-radius: 100%;
}