---
import Navigation from './Navigation.astro'
---
<header>
  <nav>
    <Navigation />
  </nav>
</header>

<style lang='scss'>
  header {
    color: black;
    padding: 18px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
