---
---
<style lang='scss'>
  footer {
    width: 100%;
    box-sizing: border-box;
    background-color: #f8f8f8;
    padding: 48px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: rem(14px);
  }
</style>

<footer>
  <a href='https://github.com/piggmme' target='_blank'>Github</a>
  <a href='https://www.linkedin.com/in/dev-hee' target='_blank'>LinkedIn</a>
  <a href='mailto:kheeyaa888@gmail.com?subject=[After%20Reading%20Blog]' target='_blank'>kheeyaa888@gmail.com</a>
</footer>
